{# @var form \BootstrapForm\Form #}
{# @var config \BootstrapForm\FieldConfig #}
{# @var field string #}
{% set invalid = form.IsInvalid(field) %}
<div class="form-group{% if invalid is not same as (false) %} has-error{% endif %}"
     {% if config.validation.required %}data-toggle="tooltip" title="Dit veld is vereist" data-trigger="focus"{% endif %}
>
    <label for="{{ field }}" class="control-label">{{ config.display.label }}</label>
    <input {% if form.IsSuccess() %}disabled{% endif %} type="{{ config.display.input }}" {% if invalid is not same as (false) %}aria-describedby="help-block-{{ field }}" aria-invalid="true"{% endif %} {% block extra %}{% endblock %} class="form-control {% block classes %}{% endblock %}" name="{{ actionId }}{{ field }}{% if config.display.input == "file" %}[]{% endif %}" id="{{ field }}" value="{{ form.GetValue(field) }}">
    {% if invalid is not same as (false) %}
        <p class="help-block" id="help-block-{{ field }}">{{ invalid }}</p>
    {% endif %}
</div>